* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:#2a3236;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}

header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header li{
    display:inline;
    padding: 0 1rem 0 1rem;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;

}

header a:hover{
    color:#cccccc;
    font-weight:bold;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#login {
    text-align: center;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://media.giphy.com/media/9J1gt3HpXuhPUaYlSX/giphy.gif"); 
    background-size: cover;
    height: 100vh;
    font-size: 4rem;
    color: white;
}

.button{
    background-color: #e8491d;
    color: white;
    height: 2rem;
    width: 5rem;
    font-weight: bold;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(129, 34, 0);
    color: rgba(255, 255, 255, 0.664);
}

#services {
    background-color: white;
    height: 50vh;
    text-align: center;
    font-size: 2rem;
}

#about {
    background-image: url(../img/BusBanner.jpg);
    background-size: cover;
    background-position-y: -4rem;
    height: 50vh;
}

#about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

#about-text {
    padding: 3rem;
    width: 50rem;
    font-size: 1rem;
}

#about-header {
    width: 20rem;
    font-size: 2.5rem;
}

#faq {
    background-color: white;
    height: 70vh;
    text-align: center;
    font-size: 2rem;
}

#faq .fas {
    color:#e8491d;
    font-size: 2rem;
}

.QnA h6 {
    text-align: center;
    margin: auto;
}

.QnA p {
    text-align: left;
    width: 50rem;
    margin: auto;
    font-size: 1rem;
}

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e8491d;
    height: 10vh;
}

a .fab {
    color:white;
    width: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

a .fab:hover {
    color:lightpink;
}

#footer {
    background-color: #2a3236;
    text-align: center;
    height: 30vh;
    color: white;
    font-size: 2rem;
}

#contact-container .fas {
    color:#e8491d;
    width: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

#contact-container {
    padding: 3rem 0 6rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 1rem;
}
