* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#2a3236;
    color:#ffffff;
    padding-top:2rem;
    min-height:4rem;
    border-bottom:#e8491d 0.25rem solid;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}
header li{
    display:inline;
    padding: 0 1rem 0 1rem;
}
header .current a{
    color:#e8491d;
    font-weight:bold;

}
header a:hover{
    color:#cccccc;
    font-weight:bold;
}
header img {
    width: 4rem;
    height: 4rem;
}
.profilePic {
    float: left;
    padding: 0 0 0 3.5rem;
}
.nameOfUser {
    float: left;
    margin: 5rem 0 0rem -5.25rem;
}
.signOut {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0 0 0;
}
#websiteName {
    text-align: center;
    margin-bottom: 1.25rem;
}
nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
#login {
    text-align: center;
}
.text-center {
	color:#fff;	
	text-transform:uppercase;
    font-size: 1.5rem;
    margin: -3.125rem 0 5rem 0;
    display: block;
    text-align: center;
}
#login-box {
	position:absolute;
	left:50%;
	top:55%;
	transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:0.1875rem;
	padding:4.375rem 6.25rem;
}
.input-container {
	position:relative;
	margin-bottom:1.5rem;
}
.input-container label {
	position:absolute;
	top:0;
	left:0;
	font-size:1rem;
    color:#ffffff;	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input { 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:1rem;
  color:#ffffff;
}
.input-container input:focus { 
 border:none;	
 outline:none;
 border-bottom:1px solid #e8491d;	
}
.btn {
	color:#ffffff;
	background-color:#e8491d;
	outline: none;
    border: 0;
    color: #ffffff;
	padding:0.625rem 1.25rem;
	text-transform:uppercase;
	margin-top:3.125rem;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.btn:hover {
    background-color:#e8491db9;
    font-weight: bold;
}
#haveAnAccount a {
    margin: 2rem;
    color:#ffffff;
    font-size:1rem;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://media.giphy.com/media/9J1gt3HpXuhPUaYlSX/giphy.gif"); 
    background-size: cover;
    height: 100vh;
    font-size: 4rem;
    color: #ffffff;
}
#services {
    background-color: #ffffff;
    height: 50vh;
    text-align: center;
    font-size: 2rem;
}
#about {
    background-image: url(../img/BusBanner.jpg);
    background-size: cover;
    background-position-y: -4rem;
    height: 50vh;
}
#about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}
#about-text {
    padding: 3rem;
    width: 50rem;
    font-size: 1rem;
}
#about-header {
    width: 20rem;
    font-size: 2.5rem;
}
#faq {
    background-color: #ffffff;
    height: 70vh;
    text-align: center;
    font-size: 2rem;
}
#faq .fas {
    color:#e8491d;
    font-size: 2rem;
}
.QnA h6 {
    text-align: center;
    margin: auto;
}
.QnA p {
    text-align: left;
    width: 50rem;
    margin: auto;
    font-size: 1rem;
}
#social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #e8491d;
    height: 10vh;
}
a .fab {
    color:#ffffff;
    width: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
a .fab:hover {
    color:#FFB6C1;
}
footer {
    background-color: #2a3236;
    text-align: center;
    height: 30vh;
    color: #ffffff;
    font-size: 2rem;
}
#contact-container .fas {
    color:#e8491d;
    width: 3rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}
#contact-container {
    padding: 3rem 0 6rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    font-size: 1rem;
}
#search-container{
    display: flex;
    justify-content: center;
}
#search-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#ffffff;
    background-color: rgba(0, 0, 0, 0.89);
	border-radius:0.1875rem;
    padding:4rem 3rem;
    width: 50rem;
    height:3rem;
    margin: 8.5rem;
}
#after-submit {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}
.trips {
    border-collapse: collapse;
    text-align: center;
    width: 80rem;
    margin: 3rem;
}
.trips th {
    background-color: #2a3236;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 2rem;
}
.trips tr:nth-child(even){
    background-color: #ecdbb7;
}
.trips td {
    font-weight: bold;
    font-size: 1rem;
    padding: 2rem;
}
#after-submit input[type="submit"] {
    position: relative;
    left: 39rem;
    bottom: 5rem;
}
#sorting {
    position: absolute;
    left:84rem;
    font-size: 1.5rem;
}